################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/clock/v17
/x64/Debug/clock.tlog
/x64/Debug
/Debug
/Release
/x64/Release
/clock.aps
